.footer {
    padding: 65px 0 50px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__formContainer {
    width: 40%;
}

.footer__contacts {
    width: 40%;
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .footer__formContainer {
        width: 100%;
        margin-bottom: 48px;
    }

    .footer__contacts {
        width: 100%;
    }
}