.header {
    background-color: var(--bg-accent);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__burger {
    margin-left: auto;
}

@media (min-width: 1025px) {
    .header__burger {
        display: none;
    }
}