.nav {

}

.nav_active {
    display: flex;
    background-color: var(--bg-primary);
    position: fixed;
    inset: 0;
    z-index: 99;
    flex-direction: column;
}

.nav__link {
    /* color: var(--color-primary); */
    color: #10305F;
    margin-right: 40px;

    transition: color .3s ease;
}


.nav__link:last-of-type {
    margin-right: 0;
}

.nav__link:hover {
    color: var(--color-accent);
}



.nav__button {
    margin-left: 50px;
}


@media (max-width: 1024px) {
    .nav {
        display: none;
    }

    .nav_active {
        padding: 20px;
        display: flex;
    }

    .nav__link {
        margin-bottom: 24px;
    }

    .nav__button {
        margin-left: 0;
    }
}