:root {
    --color-primary: #10305F;
    --color-accent: #E46450;
    --color-white: #fff;
    
    
    --bg-primary: #FAFAFA;
    --bg-accent: #fff;

    --bp-mobile: 640;
    --bp-tablet: 1024;
    --bp-laptop: 1440;
}

/* // easings

// sizes

// colors */