.mb_100 {
    margin-bottom: 100px;
}

.mb_120 {
    margin-bottom: 120px;
}


.mt {

}

/* top and bottom */
.my {

}

.my_100 {
    margin: 100px 0;
}

.pt {

}

.pb {
    
}

.py {
    
}

@media (max-width: 1024px) {
    .mb_100 {
        margin-bottom: 72px;
    }
    
    .mb_120 {
        margin-bottom: 80px;
    }

    .my_100 {
        margin: 72px 0;
    }
    
}

@media (max-width: 640px) {
    .mb_100 {
        margin-bottom: 48px;
    }
    
    .mb_120 {
        margin-bottom: 56px;
    }

    .my_100 {
        margin: 48px 0;
    }
}